/*=================================================================================================
-- CodeBreakerPrebuilt.css
	This style sheet makes use of a few techniques that aren't covered in the book. If you wish
	to find out more about those techniques then look at the version of this file contained in
	the Chapter17\complete\ folder of the downloadable code package
=================================================================================================*/

/*=================================================================================================
-- IMPORT FONTS FROM GOOGLE FONTS
=================================================================================================*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');

/*=================================================================================================
-- ELEMENT-BASED SELECTORS
=================================================================================================*/
body {
	font-family: 'PT Sans Narrow', sans-serif;
	color: rgb(74, 165, 247);
	margin: 0px;
}

header {
	text-align: center;
}

	header h1 {
		font-size: 72px;
		font-weight: 700;
		text-align: center;
		margin: 0px auto 10px auto;
		padding-top: 10px;
		filter: drop-shadow(0px 0px 5px rgba(74,165,247,0.7));
	}

main {
	width: 1024px;
	height: 768px;
	margin: 20px auto 20px auto;
}

section {
	text-align: left;
}

h2 {
	font-size: 18px;
	font-weight: 700;
	margin: 0px 10px 5px 10px;
	filter: drop-shadow(0px 0px 3px rgba(74,165,247,0.9));
}

p {
	font-size: 14px;
	font-weight: 400;
	margin: 0px 10px 10px 10px;
	filter: drop-shadow(0px 0px 4px rgba(74,165,247,1));
}

button {
	background-color: transparent;
	color: rgba(74,165,247,0.8);
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1.5px;
	border-color: rgba(74,165,247,0.8);
	box-shadow: 0px 0px 5px 2px rgba(74,165,247, 0.3) , inset 0px 0px 5px 2px rgba(74,165,247, 0.3);
	transition-duration: 0.5s;
}
	
	button:hover {
		cursor: pointer;
		color: rgb(74,165,247);
		border-color: rgb(74,165,247);
		box-shadow: 0px 0px 5px 2px rgba(74,165,247, 0.5) , inset 0px 0px 5px 2px rgba(74,165,247, 0.5);
	}

/*=================================================================================================
-- ID-BASED SELECTORS
=================================================================================================*/
#leftPanel {
	width: 340px;
	height: 768px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #4AA5F7;
	float: left;
}

	#leftPanel #setupNewGameButton {
		width: auto;
		height: auto;
		margin: 10px 10px 10px 10px;
		padding: 0px 20px 0px 20px;
		text-align: center;
	}

#rightPanel {
	width:680px;
	height: 768px;
	overflow: visible;
	float: right;
	
}

#resultsKeyTable {
	border-spacing: 0px;
	width: 100%;
}
	
	#resultsKeyTable td {
		font-size: 14px;		
	}
	
		#resultsKeyTable td.resultsKeyText {
			filter: drop-shadow(0px 0px 4px rgba(74,165,247,1));
			padding: 0px 10px 0px 0px;
		}
		
#currentSymbolsDisplay {
	margin: auto 10px 15px 10px;
}

	#currentSymbolsDisplay td {
		padding: 0px;
	}
	
		#currentSymbolsDisplay .buttonBorder {
			margin: 0px;
		}
		
#inputCodeWrapper {
	height: 82px;
}

#inputCodeButtons {
	
}

	#inputCodeButtons td {
		padding:0px;
	}

		#inputCodeButtons td:first-child {
			width: 60px;
			text-align: right;
			padding-right: 10px;
		}
		
		#inputCodeButtons td:last-child {
			padding-left: 10px;
		}
		
			#inputCodeButtons td:last-child button {
				padding: 0px 20px 0px 20px;
				text-align: center;
			}

#resultsTable {
	
}

	#resultsTable tr {
		padding-bottom: 10px;
	}

	#resultsTable td {
		padding:0px 0px 10px 0px;
	}
	
		#resultsTable td:first-child {
			width: 60px;
			text-align: right;
			padding-right: 10px;
		}
		
			#resultsTable td .codeSymbol .buttonBorder {
				margin: 0px 5px 0px 5px;
			}

#gameSetupPanel,
#gameOverPanel {	
	box-shadow: 0px 0px 5px 2px rgba(74,165,247, 0.7) , inset 0px 0px 5px 2px rgba(74,165,247, 0.7);
}


	#gameSetupPanel h2,
	#gameOverPanel h2 {
		text-align: center;
		margin: 15px auto 10px auto;
	}

	#gameSetupPanel table {
		width: auto;
		margin: 10px auto 10px auto;
	}
	
		#gameSetupPanel table td {
			vertical-align: middle;
			height: 26px;
		}
	
			#gameSetupPanel table td.optionTitle {
				text-align: right;
				filter: drop-shadow(0px 0px 4px rgba(74,165,247,1));
				position: relative;
				top: -1px;
			}
		
			#gameSetupPanel table select {
				width: 60px;
				margin: 5px 10px 5px 10px;
			}

	#gameSetupPanel button, 
	#gameOverPanel button {
		width: auto;
		height: 24px;
		margin: 10px 10px 10px 10px;
		padding: 0px 20px 1px 20px;
	}

	#gameOverPanel #gameOverMessage {
		width: 50%;
		margin: 10px auto 10px auto;
		filter: drop-shadow(0px 0px 4px rgba(74,165,247,1));
	}
		


/*=================================================================================================
-- CLASS-BASED SELECTORS
=================================================================================================*/
.buttonBorder {
	width: 34.5px;
	height: 34.5px;
	border-radius: 15%;
	border-style: solid;
	border-width: 1.5px;
	margin: 10px;
	
}

	.buttonBorder.green {
		border-color: #00A70A;
		box-shadow: 0px 0px 5px 2px rgba(0,167,10, 0.5) , inset 0px 0px 5px 2px rgba(0,167,10, 0.5);
	}
	
		.buttonBorder.green .symbolGraphicWrapper {
			filter: drop-shadow(0px 0px 3px rgba(0,167,10,1));
		}
	
	.buttonBorder.amber {
		border-color: #CDA100;
		box-shadow: 0px 0px 5px 2px rgba(205,161,0, 0.5) , inset 0px 0px 5px 2px rgba(205,161,0, 0.5);
	}
	
		.buttonBorder.amber .symbolGraphicWrapper {
			filter: drop-shadow(0px 0px 3px rgba(205,161,0,1));
		}
	
	.buttonBorder.red {
		border-color: #CD0000;
		box-shadow: 0px 0px 5px 2px rgba(205,0,0, 0.5) , inset 0px 0px 5px 2px rgba(205,0,0, 0.5);
	}
		
		.buttonBorder.red .symbolGraphicWrapper {
			filter: drop-shadow(0px 0px 4px rgba(205,0,0,1));
		}
	
	.buttonBorder.blue {
		border-color: #4AA5F7;
		box-shadow: 0px 0px 5px 2px rgba(74,165,247, 0.5) , inset 0px 0px 5px 2px rgba(74,165,247, 0.5);
	}
		
		.buttonBorder.blue .symbolGraphicWrapper {
			filter: drop-shadow(0px 0px 4px rgba(74,165,247,1));
		}

.codeSymbol {
	
}

.inputCodeButton {
	
}

	.inputCodeButton:hover {
		cursor: pointer;
	}
	
	.inputCodeButton .buttonBorder {
		margin: 0px 5px 0px 5px;
	}
	
	
