/*=================================================================================================
-- IMPORT FONTS FROM GOOGLE FONTS
=================================================================================================*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,700,900');

/*=================================================================================================
-- STYLE RULES FOR MAIN STRUCTURAL ELEMENTS AND CONTENT ELEMENTS
=================================================================================================*/
body {
	background-color: rgb(13, 13, 13);
	font-family: 'Titillium Web', Arial, sans-serif;
	line-height: 1.3em;
}

header {
	text-align: center;
}

main {
	text-align: center;
	width: 1000px;
	height:540px;
	margin: auto;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(171, 171, 171);
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	text-align: center;
}

#leftPanel {
	width: 33%;
	height: 100%;
	float: left;
}

#rightPanel {
	width: 67%;
	height: 100%;
	float: right;
}

#commandConsoleWrapper {
	width: auto;
	height: auto;
	margin: 20px;
}

#enemyFleetPanelWrapper {
	width: auto;
	height: auto;
	margin: 20px;
}

#targetingGridWrapper {
	width: auto;
	height: auto;
	margin: 20px;
	margin-left: auto;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	color: rgb(202, 202, 202);
	text-align: center;
}

audio {
	display: none;
}

button {
	font-size: 18px;
	font-weight: 400;
	color: rgb(202, 202, 202);
	background-color: rgb(23, 104, 0);
	width: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	border-style: none;
	transition-duration: 0.5s;
}

button:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(35, 148, 0);
	cursor: pointer;
}

/*=================================================================================================
-- STYLE RULES FOR ELEMENTS CONTROLLED BY JAVASCRIPT
=================================================================================================*/

#commandConsole {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(171, 171, 171);
	width:100%;
	height:auto;
}

#messagePanel {
	width: auto;
	height: 72px;
	text-align: left;
	line-height: 1.2em;
}

#currentScorePanel {
	width: 80px;
	height: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}

#bestScorePanel {
	width: 80px;
	height: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}

#enemyFleetPanel {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(171, 171, 171);
	width:100%;
	height:auto;
}

#enemyFleetPanelTable {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}		
	
#enemyFleetPanelTable thead {
	width: auto;
	margin-top: 4px;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 10px;
}

#enemyFleetPanelTable thead td {
	font-size: 11px;
	font-weight: 300;
	color: rgb(202, 202, 202);
	text-align: left;
	width: auto;
}
	
#enemyFleetPanelTable tr {
	margin-bottom: 2px;
}

#enemyFleetPanelTable .destroyed {
	color: rgb(51, 51, 51);
}

#targetingGrid {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(171, 171, 171);
	width: 640px;
	height: 480px;
	padding: 1px;
	background-image: url("../img/targetingGridBackground.jpg");
	border-spacing: 0px;
}

#targetingGrid td {
	width: 10%;
	height: 10%;
}

#targetingGrid td img {
	margin:0px;
	padding:0px;
	border-style: none;
	border-width: 0px;
	vertical-align: middle;
}

#gameOverBanner {
	font-size: 88px;
	text-align: center;
	font-weight: 900;
	color: rgb(202, 202, 202);
	position: relative;
	top: -350px;
}

/*=================================================================================================
-- STYLE RULES FOR CLASSES
=================================================================================================*/
.panelTitle {
	font-size: 10px;
	font-weight: 300;
	color: rgb(126, 126, 126);
	margin: 0px;
	margin-bottom: 4px;
	text-align: left;
}

.fieldTitle {
	font-size: 11px;
	color: rgb(202, 202, 202);
	font-weight: 300;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 10px;
	margin-right: 0px;
	text-align: left;
}

.commsField {
	margin: 10px;
	margin-top: 4px;
	padding: 8px;
	background-color: rgb(208, 208, 208);
	border-radius: 5px;
	font-size: 14px;
	color: rgb(0, 0, 0);
}

.shipInfo {
	color: rgb(202, 202, 202);
	text-align: left;
	font-size: 18px;
	font-weight: 700;
}

.centerInCell {
	text-align: center;
}

.targetingGridCell {
	border-style: solid;
	border-color: rgb(58, 58, 58);
	border-width: 1px;
	text-align: center;
	vertical-align: middle;
	color: rgb(0, 0, 0);
	font-size: 10px;
	font-weight: 700;
}

.targetingGridCell.notshot:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);	
}

.missed {
	background-color: rgba(0,128,0,0.2);
}

.hit {
	background-color: rgba(128,0,0,0.2);
	background-image: url("../img/explosion.png");
	background-position: center;
	background-repeat: no-repeat;
}
